.navbar-nav{
    padding: 10px;
display: flex;


}
.navbar{
    text-align: center;
 
}
.container{ 
    
 justify-content:space-between;
 margin: 10px;
}
.container-fluid{
    margin: 0;
    border: 30px;
justify-content: center;
}
