.navbar-nav{
    padding: 10px;
display: flex;



}
.navbar{
    text-align: center;
 
}
.container{ 
    display: flex;
 justify-content:center;
 padding: 20px;
 margin: 10px;
}
.container-fluid{
    margin: 0;
}
